

<div class="container">

    
        <form asp-action="Add" asp-controller="Hospital" method="post">
            <div class="mb-3">
                <label for="hastane_ad" class="form-label">Hospital Name</label>
                <input type="text" class="form-control" name="hastane_ad">
                
            </div>
            <div class="mb-3">
                <label for="hastane_sehir" class="form-label">Hospital City</label>
                <input type="text" class="form-control" name="hastane_sehir">
            </div>
            <button type="submit" class="btn btn-primary">ADD HOSPITAL</button>
        </form>

    


</div>