
<div class="container">

    <form asp-action="Delete" asp-controller="Hospital" method="post">

        <input type="text" name="hastane_id" placeholder="Hospital Id" />
        </br>
        </br>

        <button>DELETE HOSPITAL</button>
    </form>


</div>